html,body 
{
  background-color: #e2f8d7;
}
#line 
{
  display: flex;
  background-color: #228b22;
  align-content: flex-start;
  flex-grow: 1;
  color: #ffffff;
  font-size: 60px;
}
.footer
{
  display: flex;
  background-color: #228b22;
  color: #ffffff;
  align-content: flex-end;
  flex-grow: 1;
}
.menu
{
  display: flex;
  background-color: #f8f8ff;
  flex-direction: row;
  flex-grow: 1;
}
.silki
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
}
.table
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
}
.forma
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
}
p
{
  display: flex;
  list-style-type: none;
  display: inline-block;
  flex-direction: row;
} 
table 
{
  border: 1px solid #228b22;
  width: 900px;
  background: #ffff;
}
td, th 
{
    padding: 3px;
}
th 
{
  text-align: center;
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td 
{
  text-align: center;
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
tr.even 
{
  background: #e2f8d7;
}
@media screen and (max-width: 480px) {
#logo 
{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 340px;
  margin-left: 480px;
  }
.menu
{
  display: flex;
  background-color: #f8f8ff;
  flex-direction: column;
  flex-grow: 1;
}
  .silki
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
  flex-grow: 1;
}
.table
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
  flex-grow: 1;
}
.forma
{
  display: flex;
  background-color: #f8f8ff;
  flex-basis: auto;
  justify-content: center;
  flex-grow: 1;
}
}
